body {
            font-family: sans-serif;
        }

        body *,
        body *:before,
        body *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        body .wrapper {
            width: 1140px;
            margin: 0 auto;
            max-width: 100%;
            padding: 0 15px;
        }

        body .clearfix:after {
            content: " ";
            clear: both;
            display: table;
        }

        .slider {
            margin-bottom: 30px;
            background: #f7f7f7;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }

        .slider>.title {
            font-size: 30px;
            padding: 50px 15px 25px 15px;
            text-align: center;
            font-weight: bold;
        }

        .slider .swiper-container {
            padding: 30px 60px;
        }

        .slider .swiper-container .swiper-wrapper .swiper-slide {
            font-size: 18px;
            background: #fff;
            display: block;
            padding: 30px;
            width: 232.5px;
        }

        .slider .swiper-container .swiper-wrapper .swiper-slide .tag>span {
            display: inline-block;
            padding: 5px 7.5px;
            background: #1259a7;
            color: #fff;
            font-size: 12px;
        }

        .slider .swiper-container .swiper-wrapper .swiper-slide .title {
            cursor: pointer;
            display: inline-block;
            padding: 10px 0;
            font-weight: bold;
        }

        .slider .swiper-container .swiper-wrapper .swiper-slide .text {
            font-size: 15px;
            color: #666;
        }

        .slider .swiper-container .swiper-wrapper .swiper-slide .date {
            color: #666;
            margin-top: 20px;
            font-size: 16px;
        }

        .slider .swiper-container .swiper-wrapper .swiper-button-next,
        .slider .swiper-container .swiper-wrapper .swiper-button-prev {
            padding: 0 25px;
            --swiper-navigation-color: #fff;
        }

        .slider .swiper-container .swiper-wrapper .swiper-pagination-bullet-active {
            opacity: 1;
            background: #fff;
        }

        @media(max-width:991px) {
            .slider .swiper-container .swiper-wrapper .swiper-slide {
                width: 100%;
            }
        }