
<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dream Security</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
	rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet">
</head>
<body style="margin-top: 18%">
	<div class="icons">
		<div class="wrapper">
			<div class="title">
				<b style="font-size: 50px">Dream </b> <span style="font-size: 50px">Security</span>
			</div>
			<div class="menus">
				<a class="item" href="http://localhost:8000/user/info"> <span
					class="img"> <img
						src="http://s1.publessing.io/img/icons/window1-white-50.png">
				</span> <span class="text">상품 관리</span>
				</a> <a class="item" href="http://localhost:8000/product/dream"> <span class="img"> <img
						src="http://s1.publessing.io/img/icons/window1-white-50.png">
				</span> <span class="text">상품 목록</span>
				</a> <a class="item"> <span class="img"> <img
						src="http://s1.publessing.io/img/icons/window1-white-50.png">
				</span> <span class="text">상품 신청</span>
				</a> <a class="item"> <span class="img"> <img
						src="http://s1.publessing.io/img/icons/window1-white-50.png">
				</span> <span class="text">신청목록조회</span>
				</a>
			</div>
		</div>
	</div>
	<script></script>
</body>
</html>