
<!doctype html>
<html>
<head>
    <title>대출 상품 목록</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.css" rel="stylesheet">
    <link href="css/product.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.js"></script>
</head>
<body>
    <div class="slider">
        <div class="title">Dream Security</div>
        <div class="title" style="margin-top:-2%;">대출 상품 목록</div>
        <div class="swiper-container wrapper" >
            <div class="swiper-wrapper">
                <div class="swiper-slide" th:each="product : ${dream}">
                    <div class="tag">
                        <span>대출 한도 : </span><br>
                        <span th:text="${#numbers.formatInteger(product.proLimit, 3, 'COMMA')} + '원'"> </span>
                    </div>
                    <a class="title" th:text="${product.proName}"></a>
                    <div class="text" th:text="${product.description}"></div>
                    <div class="date" th:text="'만기일 : ' + ${#dates.format(product.term, 'yyyy-MM-dd')}"></div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <script src="js/product.js"></script>
</body>
</html>